<fieldset>
  <legend>Active Database Connections</legend>
  <ul style="margin-top: 5px !important;">
    <li>
      <span>Jpa: </span> <b>{{totalJpaConnections}}</b>
    </li>
    <li>
      <span>Neo: </span> <b>{{totalNeoConnections}}</b>
    </li>
    <li>
      <span>PDWH: </span> <b>{{totalPdwhConnections}}</b>
    </li>
    <li>
      <span>RS WET: </span> <b>{{totalRedshiftWetConnections}}</b>
    </li>
    <li>
      <span>RS Inline: </span> <b>{{totalRedshiftInlineConnections}}</b>
    </li>
  </ul>
</fieldset>

